<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Tagme.styles.css" />
    <HeadOutlet />
</head>

<body>
    <script>
        window.onerror = function(message, source, lineno, colno, error) {
            alert('Error in ' + source + '\n' + message + '\n' + error);
        };
    </script>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
